@mixin container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
@mixin cross {
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    right: 0;
  }

  &::before { transform: translateY(-50%) rotate(45deg); }
  &::after { transform: translateY(-50%) rotate(-45deg); }
}
@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@mixin reset-list {
  list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
