{% set modifier = 'cabinet__nav-item--active' %}

<aside class="cabinet__nav">
  <h2 class="cabinet__nav-title">account dashboard</h2>

  <ul class="cabinet__nav-list">
    <li class="cabinet__nav-item {% if page == 'cabinet-account' %}{{ modifier }}{% endif %}">
      <a class="cabinet__nav-link" href="cabinet-account.html">
        <svg class="cabinet__nav-icon" width="14" height="17">
          <use href="img/sprite.svg#account"></use>
        </svg>
        <span class="cabinet__nav-text">Account Information</span>
      </a>
    </li>

    <li class="cabinet__nav-item {% if page == 'cabinet-address' %}{{ modifier }}{% endif %}">
      <a class="cabinet__nav-link" href="cabinet-address.html">
        <svg class="cabinet__nav-icon" width="14" height="17">
          <use href="img/sprite.svg#book"></use>
        </svg>
        <span class="cabinet__nav-text">Address Book</span>
      </a>
    </li>

    <li class="cabinet__nav-item {% if page == 'cabinet-orders' %}{{ modifier }}{% endif %}">
      <a class="cabinet__nav-link" href="cabinet-orders.html">
        <svg class="cabinet__nav-icon" width="14" height="14">
          <use href="img/sprite.svg#box"></use>
        </svg>
        <span class="cabinet__nav-text">My Orders</span>
      </a>
    </li>

    <li class="cabinet__nav-item {% if page == 'cabinet-favorites' %}{{ modifier }}{% endif %}">
      <a class="cabinet__nav-link" href="cabinet-favorites.html">
        <svg class="cabinet__nav-icon" width="14" height="14">
          <use href="img/sprite.svg#heart"></use>
        </svg>
        <span class="cabinet__nav-text">My Favorites</span>
      </a>
    </li>
  </ul>

  <a class="cabinet__logout" href="#">
    <svg class="cabinet__logout-icon" width="16" height="16">
      <use href="img/sprite.svg#logout"></use>
    </svg>
    <span class="cabinet__logout-text">sign out</span>
  </a>
</aside>
