<div class="counter">
  <input class="counter__input" value="1" type="number">

  <div class="counter__inner">
    <button class="counter__button" aria-label="Open list"></button>
    <ul class="counter__list">
      <li class="counter__item">1</li>
      <li class="counter__item">2</li>
      <li class="counter__item">3</li>
      <li class="counter__item">4</li>
      <li class="counter__item">5</li>
      <li class="counter__item">6</li>
      <li class="counter__item">7</li>
      <li class="counter__item">8</li>
      <li class="counter__item">9</li>
      <li class="counter__item">10</li>
    </ul>
  </div>
</div>
