<section class="filters">
  <form class="filters__form" action="#">
    <div class="filters__set">
      <h2 class="filters__title">category</h2>

      <ul class="filters__list">
        <li class="filters__item">
          <a class="filters__link filters__link--active" href="#">All</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Dresses</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Denim</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Jeans</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Jumpsuits</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Tops</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Jackets and coats</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Pants</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Shorts</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Skirts</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Loungerie & underwear</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Leather</a>
        </li>
        <li class="filters__item">
          <a class="filters__link" href="#">Sweaters & knits</a>
        </li>
      </ul>
    </div>

    <div class="filters__set">
      <h2 class="filters__title">size</h2>

      {% include "blocks/size-list.html" %}

      <button class="filters__clear" type="button">Clear</button>
    </div>

    <div class="filters__set">
      <h2 class="filters__title">colors</h2>

      <ul class="filters__colors-list">
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--beige" href="#">Beige</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--blue" href="#">Blue</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--black" href="#">Black</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--orange" href="#">Orange</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--green" href="#">Green</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--brown" href="#">Brown</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--purple" href="#">Purple</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--gold" href="#">Gold</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--taupe" href="#">Taupe</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--white" href="#">White</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--pink" href="#">Pink</a>
        </li>
        <li class="filters__colors-item">
          <a class="filters__colors-link filters__colors-link--red" href="#">Red</a>
        </li>
      </ul>

      <button class="filters__clear" type="button">Clear</button>
    </div>

    <div class="filters__set">
      <h2 class="filters__title">price</h2>

      <div class="filters__checkbox">
        <div class="filters__checkbox-item">
          <input id="0-10k" class="filters__checkbox-input" type="checkbox">
          <label class="filters__checkbox-label" for="0-10k">₦0 &emsp;-&emsp; ₦10,000</label>
        </div>
        <div class="filters__checkbox-item">
          <input id="10k-20k" class="filters__checkbox-input" type="checkbox">
          <label class="filters__checkbox-label" for="10k-20k">₦10,000 &emsp;-&emsp; ₦20,000</label>
        </div>
        <div class="filters__checkbox-item">
          <input id="20k-50k" class="filters__checkbox-input" type="checkbox">
          <label class="filters__checkbox-label" for="20k-50k">₦20,000 &emsp;-&emsp; ₦50,000</label>
        </div>
        <div class="filters__checkbox-item">
          <input id="50k-100k" class="filters__checkbox-input" type="checkbox">
          <label class="filters__checkbox-label" for="50k-100k">₦50,000 &emsp;-&emsp; ₦100,000</label>
        </div>
        <div class="filters__checkbox-item">
          <input id="100k-200k" class="filters__checkbox-input" type="checkbox">
          <label class="filters__checkbox-label" for="100k-200k">₦100,000 &emsp;-&emsp; ₦200,000</label>
        </div>
      </div>

      <div class="filters__price-control">
        <div class="filter__price-item">
          <input id="min-price" class="filters__price-input" type="number">
          <label class="filters__price-label" for="min-price" aria-label="Min price">₦</label>
        </div>
        <span class="filters__price-text">to</span>
        <div class="filter__price-item">
          <input id="max-price" class="filters__price-input" type="number">
          <label class="filters__price-label" for="max-price" aria-label="Max price">₦</label>
        </div>
        <input class="button filters__price-submit" type="submit" value="Apply">
      </div>

      <button class="filters__clear" type="button">Clear</button>
    </div>
  </form>
</section>
