{% if page == 'clothes' %}
  {% set size_list = [{
    'title': 'XXS'
  }, {
    'title': 'XS'
  }, {
    'title': 'S'
  }, {
    'title': 'M'
  }, {
    'title': 'L'
  }, {
    'title': 'XL',
    'modifier': 'filters__size-link--active'
  }, {
    'title': '23'
  }, {
    'title': '24'
  }, {
    'title': '25'
  }, {
    'title': '26'
  }, {
    'title': '27'
  }, {
    'title': '28'
  }, {
    'title': '29'
  }, {
    'title': '30'
  }, {
    'title': '31',
    'modifier': 'filters__size-link--active'
  }, {
    'title': '32'
  }] %}
{% endif %}

{% if page == 'shoes' %}
  {% set modifier = 'filters__size-list--shoes' %}

  {% set size_list = [{
    'title': '35.5/5'
  }, {
    'title': '36/5.5'
  }, {
    'title': '37.5/6.5'
  }, {
    'title': '38/7'
  }, {
    'title': '39/7.5'
  }, {
    'title': '39.5/8'
  }, {
    'title': '40/7.5'
  }, {
    'title': '41/9.5'
  }, {
    'title': '41.5/10'
  }, {
    'title': '42/10.5'
  }, {
    'title': '42/11'
  }, {
    'title': '43/12'
  }] %}
{% endif %}

{% if page == 'accessories' %}
  {% set size_list = [{
    'title': 'XS'
  }, {
    'title': 'S'
  }, {
    'title': 'S/M'
  }, {
    'title': 'M'
  }, {
    'title': 'M/L'
  }, {
    'title': 'L',
    'modifier': 'filters__size-link--active'
  }, {
    'title': 'XL'
  }, {
    'title': '6'
  }, {
    'title': '7'
  }, {
    'title': '8'
  }] %}
{% endif %}

<ul class="filters__size-list {{ modifier }}">
  {% for item in size_list %}
  <li class="filters__size-item">
    <a class="filters__size-link {{ item.modifier }}" href="#">{{ item.title }}</a>
  </li>
  {% endfor %}
</ul>
