{% set modifier = 'user-nav__link--active' %}

<div class="user-nav">
  <a class="user-nav__link {% if page == 'auth' %}{{ modifier }}{% endif %}" href="auth.html" aria-label="Cabinet">
    <svg class="user-nav__icon" width="16" height="16">
      <use href="img/sprite.svg#user"></use>
    </svg>
  </a>

  <a class="user-nav__link {% if page == 'cart' %}{{ modifier }}{% endif %}" href="cart.html" aria-label="Cart">
    <svg class="user-nav__icon" width="16" height="16">
      <use href="img/sprite.svg#cart"></use>
    </svg>
  </a>

  <a class="user-nav__link {% if page == 'cabinet-favorites' %}{{ modifier }}{% endif %}" href="cabinet-favorites.html" aria-label="Favorites">
    <svg class="user-nav__icon" width="16" height="16">
      <use href="img/sprite.svg#heart"></use>
    </svg>
  </a>
</div>
