.account__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 65px 45px;
  box-shadow: var(--shadow-2);

  .form__group {
    max-width: 350px;
  }
}

.account__button {
  @include reset-button;

  color: var(--white);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 12px 50px;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 6px;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--black);
    background-color: var(--white);
  }
}
