.auth {
  @include padding(4rem 0 13.75rem);
  @include media-max(md) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.auth__container {
  @include container;
  max-width: 1080px;
}

.auth__text {
  font-size: 20px;
  letter-spacing: .2px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &--large {
    font-size: 30px;
    font-weight: 800;
  }
}

.auth__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 60px;

  @include media-min(md) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
  @include media-min(lg) {
    column-gap: 160px;
  }
}

.auth__title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2px;
  margin-bottom: 30px;
}

.auth__link {
  text-decoration: underline;
}
