.cart-product {
  display: grid;
  border: 1px solid var(--grey-3);
  border-radius: 6px;

  @include media-min(md) {
    grid-template-columns: 40% 1fr 1fr;
  }
  @include media-min(lg) {
    grid-template-columns: 52% 1fr 1fr 1fr;
  }
}

.cart-product__col {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--grey-3);
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }

  &--description {
    flex-direction: column;
    padding: 20px;
  }

  @include media-max(md) {
    padding: 15px 10px;
    border-right: none;
    border-bottom: 1px solid var(--grey-3);

    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
  @include media-max(lg) {
    &:last-child { display: none; }
    &:nth-last-child(2) { border-right: none; }
  }
  @include media-min(lg) {
    &--description {
      align-items: flex-start;
    }
  }
}

.cart-product__desc {
  display: flex;
  align-items: center;
}
.cart-product__link {
  margin-right: 30px;

  @include media-max(md) {
    margin-right: 10px;
  }
}

.cart-product__img {
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.cart-product__title {
  font-size: 20px;
  line-height: .9;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--red);
  }
}

.cart-product__info {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }
}

.cart-product__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 116px;

  @include media-max(lg) {
    margin-left: 0;
  }
}

.cart-product__button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 60px;
  transition: .2s;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @include media-max(lg) {
    font-size: .85rem;
    margin-top: 15px;
    margin-right: 30px;
  }
}

.cart-product__button-icon {
  margin-right: 8px;
}

.cart-product__price {
  @include font-size(1.25rem);

  font-family: var(--sub-font);
}
