.cart {
  min-height: 100vh;
  padding: 65px 0;
}

.cart__container {
  @include container;
  max-width: 1250px;
}

.cart__title {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: .2;
  margin-bottom: 70px;
}

.cart__item-titles {
  display: grid;
  grid-template-columns: 52% 1fr 1fr 1fr;
  margin-bottom: 15px;

  @include media-max(md) {
    grid-template-columns: 1fr;
  }
  @include media-max(lg) {
    grid-template-columns: 40% 1fr 1fr;
  }
}

.cart__col-title {
  color: var(--dark-grey);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2px;

  &:first-child {
    text-align: left;
  }

  @include media-max(md) {
    font-size: .75rem;

    &:not(:first-child) {
      display: none;
    }
  }
  @include media-max(lg) {
    &:last-child { display: none; }
  }
}

.cart__list {
  @include reset-list;

  display: grid;
  row-gap: 30px;
  margin-bottom: 60px;

  @include media-max(md) {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px 15px;
  }
}

.cart__info {
  text-align: right;
}

.cart__info-price {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cart__total-price {
  font-family: var(--sub-font);
  font-weight: 400;
  margin-left: 60px;
}

.cart__info-text {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
}

.cart__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 15px;
  align-items: center;
  margin-top: 60px;

  @include media-min(md) {
    grid-template-columns: max-content max-content;
    justify-content: end;
    gap: 20px;
  }
  @include media-min(lg) {
    column-gap: 40px;
  }
  @include media-min(xl) {
    column-gap: 60px;
  }
}

.cart__button {
  @include button;
}
