.counter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-buttons__button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--red);
  }
}

.counter-buttons__button-icon {
  width: 24px;
  height: 24px;
}

.counter-buttons__input {
  display: block;
  text-align: center;
  color: var(--black);
  width: 45px;
  height: 30px;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid var(--black);
  box-sizing: border-box;

  @include media-min(md) {
    height: 45px;
  }
}
