.favorites__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(map-get($widths, sm) - (#{$gap-sm} * 2)), 1fr));
  gap: 30px;
}

.favorites__item {
  @include padding(1.875rem);

  display: grid;
  box-shadow: var(--shadow-2);
}

.favorites__item-inner {
  @include margin-bottom(3.75rem);

  display: flex;
  align-items: flex-start;
}

.favorites__item-link {
  flex-shrink: 0;
  margin-right: 30px;

  @include media-max(lg) {
    margin-right: 15px;
  }
}

.favorites__item-img {
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.favorites__item-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .2px;
  margin-bottom: 5px;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--red);
  }
}

.favorites__item-size {
  color: var(--dark-grey);
  font-size: 16px;
  letter-spacing: .2px;
  margin-bottom: 8px;
}

.favorites__item-price {
  color: var(--red);
  font-family: var(--sub-font);
  font-weight: 400;
}

.favorites__item-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: auto;

  @include media-min(md) {
    column-gap: 30px;
  }
  @include media-min(xl) {
    column-gap: 60px
  }
}

.favorites__button {
  @include reset-button;

  text-transform: uppercase;
  flex-grow: 1;
  padding: 10px 15px;
  transition: .2s;

  &--buy {
    @include button-secondary;
    padding: 10px 15px;
  }

  &--remove {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    font-weight: 600;
    letter-spacing: .2px;

    &:hover,
    &:focus {
      color: var(--orange);
    }
  }
}

.favorites__button-icon {
  margin-right: 8px;
}
