.intro {
  color: var(--white);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--red);
  background-image: url("../img/icons/safari.svg");
  background-repeat: no-repeat;
  background-position: center 150px;
  background-size: calc(100vw - 30px);
  position: relative;

  @include media-min(md) { background-size: calc(100vw - 60px); }
  @include media-min(lg) { background-size: calc(100vw - 120px); }
  @include media-min(xl) { background-size: auto; }
}

.intro__container {
  @include container;
}

.intro__slider {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.intro__slider-wrapper {
  display: flex;
  max-width: 90vw;
  height: auto !important;
  position: relative;
  z-index: 1;
}

.intro__slide {
  flex-shrink: 0;
  height: 100%;
  max-height: 850px;
  cursor: grab;
  overflow: hidden;
  position: relative;
  transition-property: transform;
}

.intro__img {
  margin-left: auto;
  margin-right: auto;
}

.intro__pagination {
  margin-top: 30px;
  position: static;
}

.intro__pagination-bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 25px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: var(--white);
  }
}

.intro__scroll {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;

  @include media-min(xl) {
    margin-top: 60px;
  }
}

.intro__scroll-text {
  font-size: 30px;
  font-weight: 600;

  @include media-max(md) { display: none; }
}

.intro__scroll-icon {
  margin-top: 15px;

  @include media-max(md) { margin-top: 0; }
}
