.nav {
  &--active {
    display: flex;
    flex-direction: column;

    .nav__list {
      transform: translateX(0);
    }
  }

  @include media-max(lg) { order: 3; }
  @include media-min(lg) { order: 1; }
}

.nav__toggle {
  @include reset-button;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  position: relative;

  &:hover {
    color: var(--red);
  }

  @include media-min(lg) {
    display: none;
  }
}

.nav__list {
  @include reset-list;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include media-max(lg) {
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: var(--grey);
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100%);
    transition: .4s ease-out;
    z-index: 99;
  }
}

.nav__item {
  @include media-min(lg) {
    margin-right: 20px;

    &:last-child { margin-right: 0; }
  }
  @include media-min(xl) {
    margin-right: 50px;
  }
}

.nav__link {
  font-family: var(--main-font);
  font-weight: 600;
  letter-spacing: .2px;
  padding: 0 10px 10px;
  position: relative;
  transition: .2s;

  &::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--red);
    transition: .3s;
    position: absolute;
    left: 50%;
    bottom: 0;
  }

  &:hover,
  &:focus {
    color: var(--red);

    &::before {
      width: 100%;
      left: 0;
    }
  }

  &--active {
    color: var(--red);
    font-weight: 800;
  }

  @include media-max(lg) {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include media-min(lg) {
    &--active {
      &::before {
        width: 100%;
        left: 0;
      }
    }
  }
}
