.orders {
  @include media-max(lg) {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

.orders__list {
  @include reset-list;

  display: grid;
  row-gap: 60px;
}

.orders__item-wrap {
  display: grid;
  grid-template-columns: 45% 25% 30%;
  border-right: 6px;
  box-shadow: var(--shadow-2);

  @include media-max(lg) {
    grid-template-columns: 1fr;
  }
}

.orders__col {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-right: 1px solid var(--grey-3);

  &:last-child {
    border-right: none;
  }

  &--product {
    align-items: center;
    flex-direction: row;
    gap: 15px;
  }

  @include media-max(lg) {
    text-align: center;
    border-right: none;
    border-bottom: 1px solid var(--grey-3);

    &:last-child {
      border-bottom: none;
    }

    &--product {
      justify-content: center;
      flex-wrap: wrap;
      text-align: left;
    }
  }
  @include media-min(xl) {
    padding: 35px 30px;

    &--product {
      column-gap: 30px;
    }
  }
}

.orders__item-views {
  flex-shrink: 0;
}

.orders__link-container {
  display: block;
}

.orders__item-img {
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.orders__item-badge {
  display: block;
  color: var(--white);
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  border-radius: 2px;

  &--delivery { background-color: var(--green); }
  &--arrive { background-color: var(--orange-light); }
}

.orders__item-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orders__item-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .2px;
  margin-bottom: 0;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--red);
  }
}

.orders__item-size {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .2px;
}

.orders__item-price {
  color: var(--red);
  font-family: var(--sub-font);
}

.orders__item-date {
  font-size: 12px;
}

.orders__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.orders__text {
  color: var(--dark-grey);
  font-family: var(--sub-font);
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.orders__address {
  margin-top: 20px;
}

.orders__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;

  @include media-max(md) {
    gap: 15px;
  }
}

.orders__button {
  @include reset-button;

  color: var(--white);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 30px;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 6px;
  position: relative;
  transition: .2s;

  @include media-max(lg) {
    flex-grow: 1;
  }
}
