.pagination {
  @include reset-list;

  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pagination__link {
  display: block;
  line-height: 1;
  padding: 20px 30px;
  border-bottom: 1px solid var(--black-5);
  position: relative;
  transition: .2s;

  &::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: .2s;
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::before {
      background-color: var(--red);
    }
  }

  &--active {
    &::before {
      background-color: var(--red);
    }
  }
}
