.scroll-top {
  display: block;
  width: 60px;
  height: 50px;
  background-image: url("../img/icons/arrow-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--black);
  border-radius: 4px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 30px;
  transform: translateX(100%);
  transition: .3s ease-in-out;
  z-index: 9;

  &--active {
    right: 50px;
    transform: translateX(0);
  }

  @include media-max(lg) {
    width: 50px;
    height: 40px;

    &--active {
      right: 15px;
      bottom: 30px;
    }
  }
}
