.search {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.search__input {
  width: 175px;
  padding: 0 5px 3px 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--black-5);
  outline: none;
  position: relative;

  &:hover,
  &:focus {
    border-bottom-color: var(--red);
  }

  @include media-max(md) {
    width: 0;
    padding: 0;
  }
}

.search__submit {
  @include reset-button;

  color: var(--black);
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--red);
  }
}
