.select {
  display: inline-block;
  letter-spacing: .2px;
  position: relative;

  &--active {
    .select__caption {
      border-bottom-color: transparent;

      &::after { display: block; }
    }

    .select__list { transform: scale(1); }
  }
}

.select__caption {
  font-weight: 600;
  padding: 10px 15px;
  min-width: 200px;
  border: 1px solid var(--black);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  &::after {
    display: none;
    content: "";
    width: calc(100% - 8px);
    height: 1px;
    background-color: var(--black-25);
    position: absolute;
    left: 4px;
    bottom: 0;
    z-index: 3;
  }
}

.select__list {
  @include reset-list;

  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-top: none;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  transition: transform .3s cubic-bezier(.77, 0, .175, 1);
  transform: scaleY(0);
  transform-origin: 0 0;
  z-index: 2;
}

.select__item {
  color: var(--black);
  padding: 10px 25px;
  background-color: var(--white);
  cursor: pointer;
  transition: .2s;

  &--active {
    color: var(--white);
    font-weight: 800;
    background-color: var(--red);
  }

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--red);
  }
}
