.select {
  display: inline-block;
  letter-spacing: .2px;
  border: 1px solid var(--black);
  position: relative;

  &--active {
    border-bottom-color: transparent;

    .select__caption::after,
    .select__list { display: block; }
  }
}

.select__caption {
  font-weight: 600;
  padding: 10px 30px 10px 15px;
  cursor: pointer;
  position: relative;

  &::after {
    display: none;
    content: "";
    width: calc(100% - 8px);
    height: 1px;
    background-color: var(--black-25);
    position: absolute;
    left: 4px;
    bottom: 0;
    z-index: 3;
  }
}

.select__list {
  @include reset-list;

  display: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-top: none;
  position: absolute;
  left: -1px;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;
}

.select__item {
  color: var(--black);
  padding: 10px 25px;
  background-color: var(--white);
  cursor: pointer;
  transition: .2s;

  &:hover,
  &:focus {
    color: var(--white);
    font-weight: 800;
    background-color: var(--red);
  }
}
