.social {
  text-align: left;
}

.social__link {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 35px;
  position: relative;
  transition: .2s;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    color: var(--orange);
  }

  &--fb::before { background-image: url("../img/icons/facebook.svg"); }
  &--tw::before { background-image: url("../img/icons/tw.svg"); }
  &--insta::before { background-image: url("../img/icons/insta.svg"); }
}

.social__icon {
  margin-right: 15px;
}
