.user-nav {
  display: flex;
}

.user-nav__link {
  display: block;
  color: var(--black);
  width: 16px;
  height: 16px;
  margin-right: 30px;
  transition: .2s;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: var(--red);
  }

  &--active {
    color: var(--red);
  }
}

.user-nav__icon {
  width: inherit;
  height: inherit;
}
