{% set page = 'cabinet-favorites' %}
{% extends 'layout.html' %}

{% block content %}
<section class="cabinet">
  <div class="cabinet__container">
    {% include "blocks/cabinet-nav.html" %}

    <div class="favorites">
      <h2 class="cabinet__title">My Favorites</h2>

      <ul class="favorites__list">
        <li class="favorites__item">
          <div class="favorites__item-inner">
            <a class="favorites__item-link" href="#">
              <img class="favorites__item-img" src="img/shoes/5.jpg" alt="#">
            </a>

            <div class="favorites__item-desc">
              <h3 class="favorites__item-title">
                <a href="#">Casual flat loafers</a>
              </h3>
              <p class="favorites__item-size">Size - EU: 36 US: 5.5</p>
              <span class="favorites__item-price">₦ 10,000</span>
            </div>
          </div>

          <div class="favorites__item-buttons">
            <button class="favorites__item-button favorites__item-button--buy">buy now</button>
            <button class="favorites__item-button favorites__item-button--remove">
              <svg width="16" height="16">
                <use href="img/sprite.svg#cross"></use>
              </svg>
              remove
            </button>
          </div>
        </li>

        <li class="favorites__item">
          <div class="favorites__item-inner">
            <a class="favorites__item-link" href="#">
              <img class="favorites__item-img" src="img/clothes/2.jpg" alt="#">
            </a>

            <div class="favorites__item-desc">
              <h3 class="favorites__item-title">
                <a href="#">Multicolored armless top</a>
              </h3>
              <p class="favorites__item-size">Size - XS</p>
              <span class="favorites__item-price">₦ 10,000</span>
            </div>
          </div>

          <div class="favorites__item-buttons">
            <button class="favorites__item-button favorites__item-button--buy">buy now</button>
            <button class="favorites__item-button favorites__item-button--remove">
              <svg width="16" height="16">
                <use href="img/sprite.svg#cross"></use>
              </svg>
              remove
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
