{% set page = 'cabinet-address' %}
{% extends 'layout.html' %}

{% block content %}
<section class="cabinet">
  <div class="cabinet__container">
    {% include "blocks/cabinet-nav.html" %}

    <div class="address-book">
      <h2 class="cabinet__title">Address Book</h2>

      <ul class="address-book__list">
        <li class="address-book__item">
          <div class="address-book__address">
            <h3 class="address-book__title">Default Shipping Address</h3>
            <p class="address-book__text">Ayokunle Oriolowo <br>
              No 4 Barnawa Close, Barnawa, Kaduna <br>
              Kaduna, Kaduna <br>
              Nigeria <br>
              +234 708 568 5878
            </p>
          </div>

          <div class="address-book__item-buttons">
            <button class="address-book__item-button" type="button">Edit</button>
            <button class="address-book__item-button" type="button">Delete</button>
          </div>
        </li>
      </ul>

      <a class="address-book__button" href="#">add new address</a>
    </div>
  </div>
</section>
{% endblock %}
