{% extends 'layout.html' %}
{% set page = 'cart' %}

{% block content %}
<section class="cart">
  <div class="cart__container">
    <h2 class="cart__title">Shopping Cart (2 item)</h2>

    <div class="cart__item-titles">
      <span class="cart__col-title">item description</span>
      <span class="cart__col-title">quantity</span>
      <span class="cart__col-title">unit price</span>
      <span class="cart__col-title">sub total</span>
    </div>

    <ul class="cart__list">
      <li class="cart__item">
        <div class="cart-product">
          <div class="cart-product__col cart-product__col--description">
            <div class="cart-product__desc">
              <a class="cart-product__link" href="#">
                <img class="cart-product__img" src="img/shoes/5.jpg" alt="#">
              </a>

              <div class="cart-product__wrap">
                <h3 class="cart-product__title">
                  <a href="#">Casual flat loafers</a>
                </h3>
                <p class="cart-product__info">Size - EU: 36 US: 5.5</p>
              </div>
            </div>

            <div class="cart-product__buttons">
              <button class="cart-product__button cart-product__button--favorites">
                <svg class="cart-product__button-icon" width="16" height="16">
                  <use href="img/sprite.svg#heart-stroke"></use>
                </svg>
                move to favorites
              </button>
              <button class="cart-product__button cart-product__button--remove">
                <svg class="cart-product__button-icon" width="16" height="16">
                  <use href="img/sprite.svg#cross"></use>
                </svg>
                remove
              </button>
            </div>
          </div>

          <div class="cart-product__col">
            {% include 'blocks/counter-buttons.html' %}
          </div>

          <div class="cart-product__col">
            <span class="cart-product__price cart-product__unit-price">₦10,000</span>
          </div>

          <div class="cart-product__col">
            <span class="cart-product__price cart-product__total-price">₦10,000</span>
          </div>
        </div>
      </li>

      <li class="cart__item">
        <div class="cart-product">
          <div class="cart-product__col cart-product__col--description">
            <div class="cart-product__desc">
              <a class="cart-product__link" href="#">
                <img class="cart-product__img" src="img/clothes/2.jpg" alt="#">
              </a>

              <div class="cart-product__wrap">
                <h3 class="cart-product__title">
                  <a href="#">Multicolored armless top</a>
                </h3>
                <p class="cart-product__info">Size - XS</p>
              </div>
            </div>

            <div class="cart-product__buttons">
              <button class="cart-product__button cart-product__button--favorites">
                <svg class="cart-product__button-icon" width="16" height="16">
                  <use href="img/sprite.svg#heart-stroke"></use>
                </svg>
                move to favorites
              </button>
              <button class="cart-product__button cart-product__button--remove">
                <svg class="cart-product__button-icon" width="16" height="16">
                  <use href="img/sprite.svg#cross"></use>
                </svg>
                remove
              </button>
            </div>
          </div>

          <div class="cart-product__col">
            {% include 'blocks/counter-buttons.html' %}
          </div>

          <div class="cart-product__col">
            <span class="cart-product__price cart-product__unit-price">₦10,000</span>
          </div>

          <div class="cart-product__col">
            <span class="cart-product__price cart-product__total-price">₦10,000</span>
          </div>
        </div>
      </li>
    </ul>

    <div class="cart__info">
      <p class="cart__info-price">total: <span class="cart__total-price">₦ 20,000</span></p>
      <p class="cart__info-text">Delivery fee not included yet</p>
    </div>

    <div class="cart__buttons">
      <a class="cart__button cart__button--invert" href="index.html#catalog">continue shopping</a>
      <a class="cart__button" href="checkout.html">proced to checkout</a>
    </div>
  </div>
</section>
{% endblock %}
