{% set page = 'clothes' %}
{% extends 'layout.html' %}

{% block content %}
<section class="product-page">
  <div class="product-page__container">
    <h2 class="product-page__title">clothes</h2>

    <div class="product-page__inner">
      {% include "blocks/filters.html" %}

      <div class="product-page__products">
        <header class="product-page__header">
          {% include "blocks/select.html" %}
        </header>

        {% set card_list = [{
          'img': '1',
          'title': 'Red lightweight gown'
        }, {
          'img': '2',
          'title': 'Multicolored armless top'
        }, {
          'img': '3',
          'title': 'Ladies bush pants'
        }, {
          'img': '4',
          'title': 'Mini skirt'
        }, {
          'img': '5',
          'title': 'Blue botton-down gown'
        }, {
          'img': '6',
          'title': 'Checked ladies trouser'
        }, {
          'img': '7',
          'title': 'Top with Pleated Skirt Satin'
        }, {
          'img': '8',
          'title': 'Winter Warm Woolen Parka'
        }, {
          'img': '9',
          'title': 'Summer Dress for Women'
        }, {
          'img': '10',
          'title': 'Women office suit'
        }, {
          'img': '11',
          'title': 'Single Breasted Cami Top'
        }, {
          'img': '12',
          'title': 'Twill paper bag trousers'
        }] %}
        <ul class="product-page__list">
          {% for card in card_list %}
            <li class="product-page__item">
              {% include "blocks/product-card.html" %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% include "blocks/pagination.html" %}
  </div>
</section>
{% endblock %}
