{% set page = 'shoes' %}
{% extends 'layout.html' %}

{% block content %}
<section class="product-page">
  <div class="product-page__container">
    <h2 class="product-page__title">shoes</h2>

    <div class="product-page__inner">
      {% include "blocks/filters.html" %}

      <div class="product-page__products">
        <header class="product-page__header">
          {% include "blocks/select.html" %}
        </header>

        {% set card_list = [{
          'img': '1',
          'title': 'High heels ladies shoes'
        }, {
          'img': '2',
          'title': 'Keds sneakers'
        }, {
          'img': '3',
          'title': 'Guilhermina Embellished Slides'
        }, {
          'img': '4',
          'title': 'Summer shoes'
        }, {
          'img': '5',
          'title': 'Casual Flat Loafers'
        }, {
          'img': '6',
          'title': 'Black strappy peeptoe'
        }, {
          'img': '7',
          'title': 'Superga Platform Sneakers'
        }, {
          'img': '8',
          'title': 'Heeled sandals'
        }, {
          'img': '9',
          'title': 'HAJINK Boat Shoes'
        }, {
          'img': '10',
          'title': 'Casual Flat Sandals'
        }, {
          'img': '11',
          'title': 'Summer Cork Slippers'
        }, {
          'img': '12',
          'title': 'Ankle boots'
        }] %}

        <ul class="product-page__list">
          {% for card in card_list %}
            <li class="product-page__item">
              {% include "blocks/product-card.html" %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% include "blocks/pagination.html" %}
  </div>
</section>
{% endblock %}
